{% extends "base.html" %}
{% load i18n %}
{% block bodyclass %}min-h-screen bg-base-200{% endblock bodyclass %}

{% block css %}{{ block.super }}{% endblock css %}
{% block title %}
  {% block head_title %}
    {% trans "Sign In" %}
  {% endblock head_title %}
{% endblock title %}
{% block body %}
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <div class="card-body">
          {% if messages %}
            {% for message in messages %}
              <div class="alert {% if message.tags == 'error' %}alert-error{% elif message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% else %}alert-info{% endif %} mb-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                <span>{{ message }}</span>
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}
          {% endblock content %}
          {% block extra_body %}
          {% endblock extra_body %}
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
