{% load allauth %}
{% load crispy_forms_tags %}

{% if attrs.type == "textarea" %}
  <div class="form-control w-full mb-4">
    <label class="label" for="{{ attrs.id }}">
      <span class="label-text">{% slot label %}{% endslot %}</span>
    </label>
    <textarea {% if attrs.required %}required{% endif %}
              {% if attrs.rows %}rows="{{ attrs.rows }}"{% endif %}
              {% if attrs.disabled %}disabled{% endif %}
              {% if attrs.readonly %}readonly{% endif %}
              {% if attrs.checked %}checked{% endif %}
              {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
              {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
              {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}"{% endif %}
              class="textarea textarea-bordered h-24">{% slot value %}{% endslot %}</textarea>
    {% if slots.help_text %}
      <label class="label">
        <span class="label-text-alt">{% slot help_text %}{% endslot %}</span>
      </label>
    {% endif %}
  </div>
{% elif attrs.type == "radio" %}
  <div class="form-control mb-4">
    <label class="label cursor-pointer">
      <span class="label-text">{% slot label %}{% endslot %}</span>
      <input {% if attrs.required %}required{% endif %}
             {% if attrs.disabled %}disabled{% endif %}
             {% if attrs.readonly %}readonly{% endif %}
             {% if attrs.checked %}checked{% endif %}
             {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
             {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
             {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}"{% endif %}
             {% if attrs.autocomplete %}autocomplete="{{ attrs.autocomplete }}"{% endif %}
             value="{{ attrs.value|default_if_none:"" }}"
             type="{{ attrs.type }}"
             class="radio radio-primary" />
    </label>
  </div>
{% elif attrs.type == "checkbox" %}
  <div class="form-control mb-4">
    <label class="label cursor-pointer">
      <span class="label-text">{% slot label %}{% endslot %}</span>
      <input {% if attrs.required %}required{% endif %}
             {% if attrs.disabled %}disabled{% endif %}
             {% if attrs.readonly %}readonly{% endif %}
             {% if attrs.checked %}checked{% endif %}
             {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
             {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
             value="{{ attrs.value|default_if_none:"" }}"
             type="{{ attrs.type }}"
             class="checkbox checkbox-primary" />
    </label>
  </div>
{% else %}
  <div class="form-control w-full mb-4">
    <label class="label" for="{{ attrs.id }}">
      <span class="label-text">{% slot label %}{% endslot %}</span>
    </label>
    <input {% if attrs.required %}required{% endif %}
           {% if attrs.disabled %}disabled{% endif %}
           {% if attrs.readonly %}readonly{% endif %}
           {% if attrs.checked %}checked{% endif %}
           {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
           {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
           {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}"{% endif %}
           {% if attrs.autocomplete %}autocomplete="{{ attrs.autocomplete }}"{% endif %}
           value="{{ attrs.value|default_if_none:"" }}"
           type="{{ attrs.type }}"
           class="input input-bordered w-full" />
    {% if slots.help_text %}
      <label class="label">
        <span class="label-text-alt">{% slot help_text %}{% endslot %}</span>
      </label>
    {% endif %}
  </div>
{% endif %}
