{% load i18n %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Dataset",
  "name": "{% if bundle.get_general_info.display_title %}{{ bundle.get_general_info.display_title|escapejs }}{% elif bundle.get_general_info.title %}{{ bundle.get_general_info.title|escapejs }}{% else %}{{ bundle.identifier|escapejs }}{% endif %}",
  {% if bundle.get_general_info.description %}"description": "{{ bundle.get_general_info.description|escapejs }}",{% endif %}
  "url": "{{ request.scheme }}://{{ request.get_host }}{% url 'explorer:bundle_detail_by_handle' handle=bundle.identifier %}",
  "identifier": "{{ bundle.identifier|escapejs }}",
  "encodingFormat": "audio-visual",
  "provider": {
    "@type": "Organization",
    "name": "Language Archive Cologne",
    "url": "https://lacos.uni-koeln.de"
  },
  "publisher": {
    "@type": "Organization",
    "name": "University of Cologne",
    "url": "https://www.uni-koeln.de"
  }{% if collection %},
  "isPartOf": {
    "@type": "Dataset",
    "name": "{% if collection.get_general_info.display_title %}{{ collection.get_general_info.display_title|escapejs }}{% elif collection.get_general_info.title %}{{ collection.get_general_info.title|escapejs }}{% else %}{{ collection.identifier|escapejs }}{% endif %}",
    "url": "{{ request.scheme }}://{{ request.get_host }}{% url 'explorer:collection_detail_by_handle' handle=collection.identifier %}"
  }{% endif %}{% if bundle.get_general_info and bundle.get_general_info.object_languages and bundle.get_general_info.object_languages.all %},
  "inLanguage": [{% for language in bundle.get_general_info.object_languages.all %}{% if language.iso_639_3_code %}"{{ language.iso_639_3_code|escapejs }}"{% else %}"{{ language.name|escapejs }}"{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}],
  "about": [{% for language in bundle.get_general_info.object_languages.all %}{"@type": "Language", "name": "{{ language.name|escapejs }}"{% if language.iso_639_3_code %}, "alternateName": "{{ language.iso_639_3_code|escapejs }}"{% endif %}}{% if not forloop.last %}, {% endif %}{% endfor %}]{% endif %}{% if bundle.formatted_location %},
  "spatialCoverage": {
    "@type": "Place",
    "name": "{{ bundle.formatted_location|escapejs }}"{% if bundle.geo_location %},
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": {{ bundle.geo_location.y }},
      "longitude": {{ bundle.geo_location.x }}
    }{% endif %}
  }{% endif %}{% if media_resources or written_resources %},
  "distribution": [{% for resource in media_resources %}{"@type": "DataDownload", "name": "{{ resource.file_name|escapejs }}", "encodingFormat": "{{ resource.mime_type|escapejs }}"}{% if not forloop.last or written_resources %}, {% endif %}{% endfor %}{% for resource in written_resources %}{"@type": "DataDownload", "name": "{{ resource.file_name|escapejs }}", "encodingFormat": "{{ resource.mime_type|escapejs }}"}{% if not forloop.last %}, {% endif %}{% endfor %}]{% endif %},
  "isAccessibleForFree": {% if acl_check_result.access_level == 'public' %}true{% else %}false{% endif %},
  "license": "https://lacos.uni-koeln.de/privacy-policy/"
}
</script>
