{% load static l10n %}
<link rel="stylesheet" href="{% static 'vendor/js/maplibre-gl/maplibre-gl.css' %}" />
<script src="{% static 'vendor/js/maplibre-gl/maplibre-gl.js' %}"></script>

<style>
  #map {
    width: {{ width|default:"100%" }};
    height: {{ height|default:"400px" }};
    border-radius: 0.5rem;
  }
</style>

<div id="map"></div>

<script>
  (function() {
    const lat = {{ lat|default:"50.9254927"|unlocalize }};
    const lng = {{ lng|default:"6.9328194"|unlocalize }};
    const zoom = {{ zoom|default:"12" }};

    const map = new maplibregl.Map({
      style: 'https://tiles.openfreemap.org/styles/bright',
      center: [lng, lat],
      zoom: zoom,
      container: 'map',
      canvasContextAttributes: { antialias: true }
    });

    // Add navigation controls
    map.addControl(new maplibregl.NavigationControl());

    // Add marker at location
    new maplibregl.Marker()
      .setLngLat([lng, lat])
      .addTo(map);
  })();
</script>
